@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../Header/Header.scss" as *;

.editWarehouseDetails {
  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 4rem;
  }
}

.editWarehouse-form {
  position: relative;
  @include flex-values(column, unset, center);
  box-shadow: 0 4px 8px #13182c1a;
  border-radius: 0.25rem;
  background-color: $color-primary-white;
  width: 100%;

  @include tablet {
  }
}

.editWarehouse {
  padding-bottom: 1.5rem;
  background-color: $color-primary-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    gap: 4rem;
  }
}
.editWarehouse-button {
  background-color: $color-bg-light-grey;
  width: 100%;
  padding: 2rem 0;
  gap: 1rem;

  @include flex-values(row, center, center);

  @include tablet {
    justify-content: flex-end;
    padding-right: 2rem;
  }
}

.warehouseDetails,
.contactDetails {
  padding: 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 100%;
  }
}

h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 20px;
}

h3 {
  color: $color-primary-black;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  padding-bottom: 0.3rem;
  padding-top: 1rem;
}

textarea {
  display: flex;
  border-color: $color-secondary-cloud;
  height: 2.25rem;
  padding: 0.625rem 0 0 1.25rem;
  border-radius: 20px;
  color: $color-primary-black;
}

textarea::placeholder {
  color: $color-primary-black;
  font-weight: 400;
  font-size: 11px;
}

textarea:hover{

  border-color: $color-primary-indigo;
}
