@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.warehouse {
  &-details {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-top: 1px solid $color-secondary-cloud;

    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 5rem;
      align-items: flex-start;
    }

    @include desktop {
      padding: 1rem 2rem;
    }
  }
}

.card {
  &__title {
    text-transform: uppercase;
    margin-bottom: 0.25rem;

    @include desktop {
      padding-right: 5rem;
    }
  }

  &__text {
    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__contact-div {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    @include tablet {
      margin-top: 0;
      padding-left: 2rem;
      border-left: 1px solid $color-secondary-cloud;
    }

    @include desktop {
      gap: 5rem;
    }
  }
}
