@use "./variables" as *;
@use "./typography" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TitilliumWeb";
  font-weight: 400;
  background: linear-gradient(
    $color-bg-graphite 14rem,
    $color-bg-light-grey 14rem
  );
  min-height: 100vh;
  margin: 0 0.75rem;
  color: $color-primary-black;

  @include tablet {
    margin: 0 1.5rem;
    background: linear-gradient(
    $color-bg-graphite 11.5rem,
    $color-bg-light-grey 11.5rem
  );
  }
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p,
.body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;

  @include tablet {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.p2,
.body-medium {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.p3,
.body-small {
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

a,
button {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  text-decoration: none;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &:hover {
    cursor: pointer;
  }
}

