@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

// .table-header {
//   display: none;

//   @include tablet {
//     display: flex;
//     flex-direction: row;
//     padding: 0 1rem;
//     background-color: $color-bg-light-grey;

//     &__item {
//       text-transform: uppercase;
//       display: flex;
//       align-items: center;
//       flex-wrap: nowrap;
//       color: $color-secondary-slate;
//       font-weight: 600;
//       flex-grow: 1;

//       &__contact-information {
//         min-width: 9.375rem;
//       }
//     }

//     &__sort-icon {
//       width: 1rem;
//       height: 1rem;
//     }
//   }
// }

.table-header {
  display: none;

  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $color-bg-light-grey;

    &__item {
      text-transform: uppercase;
      display: flex;
      justify-content: row;
      align-items: center;
      color: $color-secondary-slate;
      font-weight: 600;

      &--warehouse {
        width: 15%;
      }

      &--address {
        width: 20%;
      }

      &--contact-name {
        width: 20%;
      }

      &--contact-information {
        width: 20%;
      }

      &--actions {
        width: 10%;
      }
    }

    &__text {
      white-space: nowrap;
    }

    &__inner {
      display: flex;
    }
  }
}
