@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

// .table-header {
//   display: none;

//   @include tablet {
//     display: flex;
//     flex-direction: row;
//     padding: 0 1rem;
//     background-color: $color-bg-light-grey;

//     &__item {
//       text-transform: uppercase;
//       display: flex;
//       align-items: center;
//       flex-wrap: nowrap;
//       color: $color-secondary-slate;
//       font-weight: 600;
//       flex-grow: 1;

//       &__contact-information {
//         min-width: 9.375rem;
//       }
//     }

//     &__sort-icon {
//       width: 1rem;
//       height: 1rem;
//     }
//   }
// }

.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $color-bg-light-grey;

  &__item {
    text-transform: uppercase;
    display: flex;
    justify-content: row;
    align-items: center;
    color: $color-secondary-slate;
    font-weight: 600;

    &--warehouse {
      min-width: 15%;
      width: 15%;
      flex-basis: auto;
    }

    &--address {
      min-width: 20%;
      width: 20%;
      flex-basis: auto;
    }

    &--contact-name {
      min-width: 20%;
      width: 20%;
      flex-basis: auto;
    }

    &--contact-information {
      min-width: 20%;
      width: 20%;
      flex-basis: auto;
    }

    &--actions {
      min-width: 10%;
      width: 10%;
      flex-basis: auto;
    }
  }

  &__text {
    white-space: nowrap;
  }

  &__inner {
    display: flex;
  }
}
