@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../Header/Header.scss" as *;

.addNewWarehouseDetails {
  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 4rem;
  }
}

.addNewWarehouse-form {
 position: relative;
 @include flex-values(column, unset, center);
 box-shadow: .0625rem .375rem .375rem $color-primary-white, .0625rem .125rem .375rem $color-primary-black ;
 border-radius: 0.25rem;
 background-color: $color-primary-white;
 width: 100%;

  @include tablet {
  }
}

.addNewWarehouse {
  padding-bottom: 1.5rem;
  background-color: $color-primary-white;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;

    gap: 4rem;
  }
}

.border {
 border-bottom: .0625rem solid $color-secondary-cloud;

  @include tablet {
    border-right: 1px solid $color-secondary-cloud;
    margin-top: 1.5rem;
  }
}
.warehouseDetails,
.contactDetails {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 100%;
  }
}

h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 20px;
}

h3 {
 color: $color-primary-black;
 font-weight: 600;
 font-size: .8125rem;
 line-height: 1.375rem;
 padding-bottom: 0.3rem;
 padding-top: 1rem;
}

textarea {
  width: 100%;
 display: flex;
 border-color: $color-secondary-cloud;
 height: 2.25rem;
 padding: 0.625rem 0 0 1.25rem;
 border-radius: 1.25rem;
 color: $color-primary-black;
 resize: none;
}

textarea::placeholder {
 color: $color-primary-black;
 font-weight: 400;
 font-size: .6875rem;
}

textarea:focus {
  outline: none;
  border-color: $color-primary-indigo;
}


.error-input {
  border: .125rem solid $color-support-red !important;
}

.error-container {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

.error-icon {
  width: 1rem;
  height: 1rem; 
  margin-right: 0.5rem;
}

.error-message {
  color: $color-support-red;
  font-size: 0.875rem;
}


