@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.cancelButton {
  background-color: $color-primary-white;
  border: 1px solid $color-secondary-cloud;
  padding: 0.5rem 3.5rem;
  border-radius: 20px;

  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.cancelButton:hover{

  border-color: $color-primary-indigo;
  color: $color-primary-indigo;
}
