@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.saveButton {
  background-color: $color-primary-indigo;
  border: none;
  color: $color-primary-white;
  padding: 0.5rem 3.5rem;
  border-radius: 20px;

  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.saveButton:hover{
background-color: $color-primary-black;

}
