@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $color-primary-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 170px; 

  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }

  .header__nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header__nav-menu-item {
    width: 100%;
    margin-bottom: 0.5rem;

    .header__nav-menu-item-link {
      width: 164px;
      padding: 0 16px;
      height: 36px;
      border-radius: 20px;
      background: transparent;
      color: $color-primary-white;
      border: none;
      cursor: pointer;
      font-size: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        background-color: $color-bg-graphite;
        border: 1px solid $color-primary-indigo;
        text-decoration: underline;
        text-decoration-color: $color-primary-indigo;
      }

      &--active {
        color: $color-primary-white;
      }
    }
  }
}

@include tablet {
  .header {
    display: flex;
    padding: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 170px; 
  }

  .header__nav-menu {
    flex-direction: row;
  }

  .header__nav-menu-item {
    width: auto;

    .header__nav-menu-item-link {
      width: auto;
      height: 38px;
      padding: 0 16px;
      text-decoration: underline;
    }
  }
}

@include desktop {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 36px 160px 9px 160px; 
    height: 170px; 
  }
}

