@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.inventory-page {
        padding: 0 1.25rem;
        background-color: $color-primary-white;
        border-radius: .25rem;
    
        @include tablet {
            padding: 0.5rem 1.75rem;
        }
}