@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: $color-bg-light-grey;
  padding-bottom: 3rem;
  padding-top: 3rem;

 
}

.footerDetails {
  display: flex;
  justify-content: center;
  color: $color-secondary-slate;

 
 
  
}
