@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.saveCancel {
  background-color: $color-bg-light-grey;
  width: 100%;
  padding: 2rem 0;
  gap: 1rem;

  @include flex-values(row, center, center);

  @include tablet {
    justify-content: flex-end;
    padding-right: 2rem;
  }
}

.cancelButton {
  background-color: $color-primary-white;
  border: .0625rem solid $color-secondary-cloud;
  padding: 0.5rem 3rem;
  border-radius: 1.25rem;

  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.cancelButton:hover {
  border-color: $color-primary-indigo;
  color: $color-primary-indigo;
}

.saveButton {
  background-color: $color-primary-indigo;
  border: none;
  color: $color-primary-white;
  padding: 0.5rem 3rem;
  border-radius: 1.25rem;

  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.saveButton:hover {
  background-color: $color-primary-black;
}

.addWarehouse {
  background-color: $color-primary-indigo;
  border: none;
  color: $color-primary-white;
  padding: 0.5rem 0.5rem;
  border-radius: 1.25rem;
  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.addWarehouse:hover {
  background-color: $color-primary-black;
}

.addItem {
  background-color: $color-primary-indigo;
  border: none;
  color: $color-primary-white;
  padding: 0.5rem 2.5rem;
  border-radius: 1.25rem;
  @include tablet {
    padding: 0.5rem 1rem;
  }
}

.addItem:hover {
  background-color: $color-primary-black;
}
