@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.top-border {
  border-top: 0.0625rem solid $color-secondary-cloud;
  width: 100%;
}

.first-top-border {
  @include tablet {
    display: none;
  }
}

.inventory {
  @include flex-center(column);

  &-item {
    padding: 1rem 1.5rem;
    width: 100%;
    color: $color-primary-black;
    @include flex-center(column, normal, flex-start);
    font-size: 0.5rem;

    @include tablet {
      @include flex-center(row, space-between, center);
    }

    &__info {
      width: 100%;
      @include flex-center(row, normal, flex-start);
    }

    &__left,
    &__right {
      width: 100%;
      @include flex-center(column, flex-start, flex-start);
      gap: 0.75rem;
    }

    &__left {
      @include tablet {
        @include flex-center(row, normal, normal);
        gap: 0;
        width: 45%;
      }
    }

    &__right {
      @include tablet {
        @include flex-center(row, flex-start);
        gap: 0;
        width: 55%;
      }
    }

    &__container {
      &-item {
        @include flex-center(column, normal, flex-start);
        flex-grow: 1;
        flex-basis: 0;
      }
      &-category {
        align-items: flex-start;
        flex-grow: 1;
        flex-basis: 0;
      }
      &-status {
        @include flex-center(column, normal, flex-start);
        flex-grow: 1;
        flex-basis: 0;
      }
      &-quantity {
        flex-grow: 1;
        flex-basis: 0;
      }

      &-warehouse {
        flex-grow: 1;
        flex-basis: 0;
        &--off {
          display: none;
        }
      }
    }

    &__label {
      padding: 0 0 0.25rem 0;
      color: $color-secondary-slate;

      @include tablet {
        display: none;
      }
    }

    &__instock {
      color: $color-support-green;
      background-color: $color-support-green--light;
      border-radius: 1rem;
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      line-height: 1rem;

      &--false {
        color: $color-support-red;
        background-color: $color-support-red--light;
      }
    }

    &__item-link {
      @include flex-center(row, normal, flex-start);

      &-data {
        text-decoration: none;
        color: $color-primary-indigo;
        font-weight: 600;
        padding: 0;
      }
    }

    &__buttons {
      width: 100%;
      @include flex-center(row, space-between);

      @include tablet {
        @include flex-center(row, right);
        gap: 1rem;
        flex: 0;
      }
      &-delete {
        background: none;
        border: none;
      }

      &-edit {
        background: none;
        border: none;
      }
    }
  }
}
