@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

body {
    background: linear-gradient(
      $color-primary-black 12.5rem,
      $color-primary-white 12.5rem
    );
    min-height: 100vh;
    margin: 0 0.75rem;

    @include tablet {
      margin: 0 1.5rem;
    }
  }